
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: hwb(0 93% 7%);
    display: flex;
    
    height: 80px;
}
section{
    display: flex;
    gap: 30px;
    height: calc(100vh - 156px);
}
aside{
    background-color: hsl(0, 0%, 0%);
    width: 400px;
    height: 100%;
}
footer{
    background-color: hsl(270, 12%, 90%);
    height: 100px;

}
h1{
    background-color: red;

}

.fundo {
    display: flex;
    gap: 500px;
    height: 90%;
    width: 80px;
}